extends ../../_layout
block content
  .container
    .row
      .col
        h2.text-center #{show.day} at #{show.venue}, #{show.time}
        ul.list-group.pb-3
          for act in show.acts
            li.list-group-item
              .media.align-items-center.flex-wrap-reverse
                img(src='https://i.imgur.com/' + act.image.id + 'b.jpg')
                .media-body.m-3
                  h2
                    a(href='/lineup/' + act.url style="color: #f9a01b") #{act.name}
                    small &mdash; #{act.showType.join(', ')}
                  h3
                    small  from #{act.city}, #{act.state}
                  p.d-none.d-sm-block #{act.publicDescription}
    .row.justify-content-md-center
      .col.col-lg-6
        include _reserve
    .row
      .col
        p.text-center
          span.fas.fa-arrow-circle-left
          | &nbsp;
          a(href="/schedule") Back to Schedule

    link(href="/css/schedule.css" rel="stylesheet")
    link(href="/css/show.css" rel="stylesheet")