extends ../../_layout
block content
  .container
    .row
      .col
        h2.text-center #{show.day} at #{show.venue}, #{show.time}
        ul.list-group.pb-3
          for act in show.acts
            li.list-group-item
              .media.align-items-center.flex-wrap-reverse
                img(src='https://i.imgur.com/' + act.image.id + 'b.jpg')
                .media-body.m-3
                  h2 #{act.name}
                    small &mdash; #{act.showType.join(', ')}
                  h3
                    small  from #{act.city}, #{act.state}
                  p.d-none.d-sm-block #{act.publicDescription}
    .row.justify-content-md-center
      .col.col-lg-6
        include _reserve

    //include modal
    link(href="/css/schedule.css" rel="stylesheet")
    link(href="/css/show.css" rel="stylesheet")