html
  head
    link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
    style.
      html { font-family: monospace; }
      table { border-collapse: collapse; }
      td { border: 1px solid black; padding: 0.5em}

  body
    h2 #{venue} #{day} #{time}
    p
      strong Price: 
      | $#{price} 
      strong Capacity: 
      | #{capacity} 
      strong Sold: 
      | #{capacity - remaining} 
      strong Remaining: 
      | #{remaining} 

    table
      thead
        tr
          th #
          th Name
          th Email
          th Type
      tbody
        for ticket in tickets
          tr
            td=ticket.quantity
            td=ticket.name
            td=ticket.email
            td=ticket.badge ? ticket.badge == 'all' ? 'all-access' : ticket.badge : 'paypal'