include ../../_layout
block content
  div(style="padding-bottom:3em")
    //show-modal(:show="modalModel")
    .row.align-items-center
      .col-md
        img.img-fluid.rounded.float-right(:src="scaledImageUrl")
      .col-md.lineup-act-details
        h1 #{actName}
          small &mdash; #{showType}
        h5 #{city}, #{state}
          span(v-if="country != 'US'") , #{country}
        p #{publicDescription}
        section(v-if="performers.length > 1")
          h3 Cast &amp; Crew
          ul
            li(v-for="performer in performers") #{performer}
        section(v-if="socialMedia.length > 0")
          h3 Social Media
          ul
            li(v-for="socialMediaLink in socialMedia")
              a(:href="socialMediaLink.url" target="_blank") #{socialMediaLink}
        section(v-if="shows.length > 0")
          h3 Shows
          ul
            li(v-for="show in shows")
              //a(href="#" @click.prevent="modalModel=show" v-b-modal.show-modal) #{formatDay(show.day)}, #{formatTime(show.time)} at #{formatVenue(show.venue)}

        p.text-right
          font-awesome-icon(:icon="['fas', 'arrow-circle-left']" size="sm")
          | &nbsp;
          a(href="/acts") Back to Lineup
