if showType.includes('Standup')
  p Congratulations, #{name}! You have been accepted to this year's Out of Bounds Comedy Festival!
  p Here is what you can expect:
  ul
    li Airport rides!
    li Three shows!
    li A stylish t-shirt!
    li Festival Performer Badge!
    li Nightly parties!
    li A free professional video recording of all sets at The Velveeta Room!
  p BUT before we officially add you to our line-up, please confirm your attendance at the following link:&nbsp;
    a(href='https://oobfest.com/confirmation/' + _id) https://oobfest.com/confirmation/#{_id}
else
  p Congratulations, #{contact.name}! #{name} has been accepted to the Out of Bounds Comedy Festival.
  p Here is what you can expect:
  ul
    li Airport rides!
    li A stylish t-shirt!
    li Festival Performer Badge!
    li Nightly Parties!
  p BUT before we officially add you to our line-up, please confirm your attendance at the following link:&nbsp;
    a(href='https://oobfest.com/confirmation/' + _id) https://oobfest.com/confirmation/#{_id}