
p Dear #{ticket.name},
p This is a confirmation email for the
  strong &nbsp;#{workshopName}&nbsp;
  | workshop.
p
  b Where:
  |  #{where}
  br
  b When:
  |  #{when}
  br
  b Quantity:
  |  #{ticket.quantity}

p Thank you for registering for an Out of Bounds workshop. If any issues come up in regards to the registration, you can reach out to me at asaf@oobfest.com.
p Otherwise, we will see you at the workshop. Any attendees who are more than fifteen minutes late from the start of class, without having given prior notification, risk having their slot passed on to someone on the waiting list.
p If you have any questions about further details of your workshop, please direct them to me.

p
  | All the best,
  br
  | Asaf Ronen
  br
  | Education Director
  br
  | Out of Bounds Comedy Festival